.header_logo {
  width: 90%;
  height: auto;
}

.outer_wrapper {
  padding-top: 10px;
  padding-bottom: 15px;
}

.links_wrapper {
  padding-top: 10px;
}

.navbar_item {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #e5e5e5;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
}

.logo_grid {
  display: inline-block;
  vertical-align: top;
}

.link_grid {
  display: inline-block;
}

.header_phone {
  color: #e5e5e5;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header_mailto {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.facebook_logo {
  width: 5%;
  height: auto;
  margin-left: 15px;
  margin-right: 15px; 
}

.header_contact_wrapper {
  text-align:right;
}