.videoPlayer {
    max-width: 50%;
    aspect-ratio: 16 / 9;
}

.productName {
    width: 50%;
    color: #e5e5e5;
    text-align: left;
}

.productDescription {
    width: 50%;
    color: #e5e5e5;
    text-align: center;
}