.add_product_header {
    color: #e5e5e5;
}

.input_row {
    padding: 10px;
    margin: auto;
    width: 40%;
}

.input_box {
    padding: 15px;
}

.file_input {
    margin: auto;
    color: #e5e5e5;
}